<script>

function countChar(val) {

    var len = val.value.length;

    var str = val.value;
    var partSize = 140;

    while (str) {
            var rtext = (partSize - str.length) + " Chars Remaining";
			
            break;
    }
    $('#text-remaining').val(rtext);
	if(partSize < str.length) {
			document.getElementById("text-remaining").style.color = "red";
		}
}

function validateForm() {
    var x = document.forms["TweetForm"]["tweet[message]"].value;
    if (x==null || x=="") {
        window.alert("No message was entered!");
        return false;
    }
	if (x.length > 140) {
		window.alert("Tweets cannot be over 140 characters!");
        return false;
	}
	
}
</script>
<p>
  <%= form_for :tweet,url: tweets_path,  method: :post, html: { name: "TweetForm",onsubmit: "return validateForm()" } do |f| %>
    <%= f.text_area :message, cols: 70, onkeyup: "countChar(this)"%><br>
    <%= f.submit "Send Tweet" %>
<input id="text-remaining" class="input-medium uneditable-input" style="border: none" placeholder="140 Chars Remaining" readonly /> 
  <% end %>
</p>