<% if !current_user.nil? %>

  
<div class="container">
    <div class="row row-centered">
  <div class="col-xs-6 col-sm-2"> <h4>Following</h4> <% @friends.each do |friend| %>
		 <%= link_to "@#{friend.screen_name}", "http://www.twitter.com/#{friend.screen_name}" %>
		 <br>
  <% end %></div>
  
 
  <div class="col-xs-6 col-sm-8">
	<h4> My Tweets!</h4>
		<% @tweets.each do |tweet| %>
			<div class="panel panel-default">
				<div class="panel-heading"><%= tweet.text %></div>
				<div class="panel-body">
					 Retweets: <%= tweet.retweet_count %> <br>
					 Mentions:<%  tweet.user_mentions.each do |user_mention| %> 
						<%= link_to "@#{user_mention.screen_name} ", "https://twitter/#{user_mention.screen_name}" %>
					 <% end %> <br> 
					 Hashtags: <%  tweet.hashtags.each do |hashtag| %> 
						<%= link_to "##{hashtag.text} ", "https://twitter.com/hashtag/#{hashtag.text}?src=hash" %>
					 <% end %> <br>
					 Tweeted On: <%= tweet.created_at %><br>
					 <%= link_to "View Tweet on Twitter!","#{tweet.url}" %>
				</div>
			</div>
	  <% end %> 
	  
</div>
  <div class="col-xs-6 col-sm-2"> <h4>Followers</h4>
  
		<% @followers.count.to_s %>
		<% @followers.each do |follower| %>
		  <%= link_to "@#{follower.screen_name}", "http://www.twitter.com/#{follower.screen_name}" %>
		 <br>
  <% end %></div>
    </div>
<% else %>
    <p>This application requires an account with <%= link_to "Twitter","www.twitter.com" %></p>
	 <p>When logged in it will display list of tweets made by your <%= link_to "Twitter","www.twitter.com" %> account and some information about them.</p>
	 <p><%= link_to "Twitter","www.twitter.com" %> has put limitation on the number of calls it can make to its website. Too many calls can make this application no longer work for up to 15 minutes.</p>
	 <p>The source code for this project is located here on <%= link_to "https://bitbucket.org/jbridenthal/twitter-application", "https://bitbucket.org/jbridenthal/twitter-application" %></p>
	 
<% end %>
<div>