<!DOCTYPE html>
<html>
<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <title>Twitterapplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container">
   <ul class="nav nav-pills">
    <li class="drowpdown">  <%= link_to "Home", home_index_path %></li>
	<% if current_user %>
		<li class="drowpdown">  <%= link_to "Send a Tweet!", new_tweet_path %></li>
	<% end %>
	<li class="drowpdown pull-right">
		<% if current_user %>
			<%= link_to "Welcome #{current_user.name }, Sign Out", signout_path %>
		<% else %>
			<%= link_to "Sign in with Twitter", "/auth/twitter" %>
		<% end %></li>
    </ul>
	<hr>
	<div>
<%= yield %></div>
   



</body>
</html>
